:root {
  --primary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --third-color: #2f303a;
}
body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/* ---HEADER--- */

.header-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-logo-item {
  color: var(--primary-title-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
}
.header-link.current {
  color: var(--accent-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* ---HERO--- */

.hero {
  background: var(--third-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}
.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  background: #188ce8;
}

/* ---BENEFITS--- */

.benefits-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
.benefits-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* ---WORK EXAMPLES & OUR TEAM--- */

.page-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-title-color);
}
.our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-title-color);
}
.our-team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
}

/* ---FOOTER--- */

.footer-page {
  background-color: var(--third-color);
}
.footer-logo-item {
  color: var(--secondary-text-color);
}
.footer-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}
.footer-contacts-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

/* ---PORTFOLIO--- */

.filters-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-title-color);
  cursor: pointer;
}
.filters-button:hover,
.filters-button:focus,
.filters-button.current {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}
.gallery-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
